* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--text);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

:root {
  --white: #fff;
  --primary: #00aa5b;
  --primary-dark: #098a4e;
  --text: #212121;
  --secondary-text: rgba(49, 53, 59, 0.68);
  --grey: #6d7588;
  --yellow: #f3f328;
  --border-color: #bfc9d9;
  --danger: #ff6961;
}

a {
  color: inherit;
  text-decoration: none;
}
